sudo: required
dist: trusty
language: nix
script:
  - cd test
  - make
  - cd ../test-bower-style
  - make
  - cd ../test-pp2n
  - make
  - cd ../test-spago
  - make
  - cd ../test-build
  - ./runTests
